# Business Understanding
### The purpose of this notebook is predict the interset rate for the credit card dataset

## Import necessary Libraries

In [1]:

import pandas as pd
import numpy as np

import warnings # ignore warnings
warnings.simplefilter("ignore")      #Assign predictors & target
from sklearn import preprocessing     

from sklearn.model_selection import train_test_split # Split data

#Models
from sklearn import model_selection
from sklearn.metrics import accuracy_score


from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler   # Feature Scaling for RF

from sklearn.preprocessing import MinMaxScaler


from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

from sklearn.model_selection import train_test_split

import sklearn 
from sklearn.metrics import classification_report, confusion_matrix

from sklearn.model_selection import cross_val_score

# Preproccessing

In [2]:
vacation = pd.read_csv('datasets/vacation.csv')
vacation.head(n=10)

,Column,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,purpose,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,84,2400,2400,20.00,89.20,4,10.0,45000.0,Fully Paid,vacation,ID,2425.33,21672.0,5
1,144,5000,5000,8.81,158.56,7,10.0,124000.0,Fully Paid,vacation,NY,5003.98,19353.0,10
2,310,1500,1500,12.40,50.11,6,10.0,91000.0,Charged Off,vacation,NJ,0.00,14542.0,11
3,374,2400,2400,11.71,79.39,6,2.0,54000.0,Fully Paid,vacation,NJ,2402.58,1041.0,4
4,473,4200,4200,7.02,129.73,7,10.0,100000.0,Fully Paid,vacation,WA,4250.25,6697.0,2
5,478,16500,16500,11.02,358.92,6,1.0,100000.0,Fully Paid,vacation,PA,16526.16,5702.0,1
6,627,4000,4000,15.57,139.79,5,5.0,260000.0,Fully Paid,vacation,TX,36.33,12536.0,7
7,634,5000,5000,15.57,174.73,5,NaN,25572.0,Fully Paid,vacation,PA,5007.14,1496.0,4
8,637,8400,8400,11.02,275.09,6,1.0,100000.0,Fully Paid,vacation,AZ,6290.35,4003.0,3
9,755,10000,10000,20.00,371.64,4,1.0,50000.0,Charged Off,vacation,GA,371.64,3113.0,6

In [3]:
vacation.shape

(52, 14)

# Since it has the same columns as Credit_card dataset, we will follow the same process

In [4]:
vacation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 14 columns):
Column             52 non-null int64
loan_amnt          52 non-null int64
funded_amnt        52 non-null int64
int_rate           52 non-null float64
installment        52 non-null float64
grade              52 non-null int64
emp_length         48 non-null float64
annual_inc         52 non-null float64
loan_status        52 non-null object
purpose            52 non-null object
addr_state         52 non-null object
last_pymnt_amnt    52 non-null float64
avg_cur_bal        52 non-null float64
num_actv_rev_tl    52 non-null int64
dtypes: float64(6), int64(5), object(3)
memory usage: 5.8+ KB

In [5]:
vacation.dropna(inplace = True)

In [6]:
vacation['int_rate'] = vacation.int_rate.astype(int)
vacation['installment'] = vacation.int_rate.astype(int)
vacation['emp_length'] = vacation.int_rate.astype(int)
vacation['annual_inc'] = vacation.int_rate.astype(int)
vacation['int_rate'] = vacation.int_rate.astype(int)
vacation['int_rate'] = vacation.int_rate.astype(int)

In [7]:
vacation.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 0 to 51
Data columns (total 14 columns):
Column             48 non-null int64
loan_amnt          48 non-null int64
funded_amnt        48 non-null int64
int_rate           48 non-null int64
installment        48 non-null int64
grade              48 non-null int64
emp_length         48 non-null int64
annual_inc         48 non-null int64
loan_status        48 non-null object
purpose            48 non-null object
addr_state         48 non-null object
last_pymnt_amnt    48 non-null float64
avg_cur_bal        48 non-null float64
num_actv_rev_tl    48 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 5.6+ KB

In [8]:
vacation.drop('purpose', axis=1, inplace=True)

In [9]:
vacation.head()

,Column,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,84,2400,2400,20,20,4,20,20,Fully Paid,ID,2425.33,21672.0,5
1,144,5000,5000,8,8,7,8,8,Fully Paid,NY,5003.98,19353.0,10
2,310,1500,1500,12,12,6,12,12,Charged Off,NJ,0.00,14542.0,11
3,374,2400,2400,11,11,6,11,11,Fully Paid,NJ,2402.58,1041.0,4
4,473,4200,4200,7,7,7,7,7,Fully Paid,WA,4250.25,6697.0,2

In [10]:
vacation.drop('Column', axis=1, inplace=True)

In [11]:
vacation.head()

,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,2400,2400,20,20,4,20,20,Fully Paid,ID,2425.33,21672.0,5
1,5000,5000,8,8,7,8,8,Fully Paid,NY,5003.98,19353.0,10
2,1500,1500,12,12,6,12,12,Charged Off,NJ,0.00,14542.0,11
3,2400,2400,11,11,6,11,11,Fully Paid,NJ,2402.58,1041.0,4
4,4200,4200,7,7,7,7,7,Fully Paid,WA,4250.25,6697.0,2

In [12]:
labels_loanStatus = vacation['loan_status'].astype('category').cat.categories.tolist()
replace_map_loan_status = {'loan_status' : {k: v for k,v in zip(labels_loanStatus,list(range(1,len(labels_loanStatus)+1)))}}
print(replace_map_loan_status)

{'loan_status': {'Charged Off': 1, 'Fully Paid': 2}}

In [13]:
vacation.replace(replace_map_loan_status, inplace=True)

In [14]:
labels_addr_state = vacation['addr_state'].astype('category').cat.categories.tolist()
replace_map_comp_addr_state = {'addr_state' : {k: v for k,v in zip(labels_addr_state,list(range(1,len(labels_addr_state)+1)))}}
print(replace_map_comp_addr_state)

{'addr_state': {'AZ': 1, 'CA': 2, 'DC': 3, 'FL': 4, 'GA': 5, 'HI': 6, 'ID': 7, 'MD': 8, 'MI': 9, 'MN': 10, 'MO': 11, 'MS': 12, 'NC': 13, 'NH': 14, 'NJ': 15, 'NY': 16, 'OH': 17, 'PA': 18, 'TX': 19, 'VA': 20, 'WA': 21}}

In [15]:
vacation.replace(replace_map_comp_addr_state, inplace = True)

In [16]:
vacation.head()

,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,2400,2400,20,20,4,20,20,2,7,2425.33,21672.0,5
1,5000,5000,8,8,7,8,8,2,16,5003.98,19353.0,10
2,1500,1500,12,12,6,12,12,1,15,0.00,14542.0,11
3,2400,2400,11,11,6,11,11,2,15,2402.58,1041.0,4
4,4200,4200,7,7,7,7,7,2,21,4250.25,6697.0,2

In [17]:

y=vacation['int_rate']
X = vacation.drop('int_rate', axis=1)

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25,random_state=0)

In [19]:
X_train.shape

(36, 11)

In [20]:
X_test.head()

,loan_amnt,funded_amnt,installment,grade,emp_length,annual_inc,loan_status,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
32,30000,30000,14,5,14,14,2,2,30040.52,5650.0,8
4,4200,4200,7,7,7,7,2,21,4250.25,6697.0,2
29,10000,10000,14,5,14,14,2,19,9717.95,155.0,5
33,4000,4000,7,7,7,7,2,4,1765.02,4397.0,2
35,4000,4000,11,6,11,11,2,2,4065.93,3723.0,0

In [21]:
y_train.head()

36    10
30    20
51    23
2     12
50    14
Name: int_rate, dtype: int64

In [22]:
y_test.shape

(12,)

In [23]:
clf = RandomForestClassifier(n_jobs=2, random_state=0)

clf.fit(X_train, y_train)
RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=2, oob_score=False, random_state=0,
            verbose=0, warm_start=False)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=1e-07,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
                       oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [24]:
preds = clf.predict(X_test)

In [25]:
pd.crosstab(y_test, preds, rownames=['Actual Result'], colnames=['Predicted Result'])

Predicted Result  7   8   11  14  16  17  19
Actual Result
7                  3   0   0   0   0   0   0
8                  0   1   0   0   0   0   0
11                 0   0   2   0   0   0   0
12                 0   0   1   0   0   0   0
14                 0   0   0   2   0   0   0
17                 0   0   0   0   1   0   1
18                 0   0   0   0   0   1   0

In [26]:
#2 

# Feature Scaling (Normalize x)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#RF
clf=RandomForestClassifier(n_estimators=300)

clf.fit(X_train,y_train)

# Make predictions on test data
y_pred=clf.predict(X_test)

from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.75

In [27]:
model2 = RandomForestClassifier(n_estimators=300,max_depth=800)
model2.fit(X_train,y_train)
predictions2 = model2.predict(X_test)

print(('Testing Accuracy: %.5f') % (accuracy_score(y_test, predictions2)))
print(('Training Accuracy: %.5f') % (accuracy_score(y_train, model2.predict(X_train))))
print()

Testing Accuracy: 0.75000
Training Accuracy: 1.00000

In [28]:
# reference: https://towardsdatascience.com/random-forest-in-python-24d0893d51c0
def pred_score(model):
    pred = model.predict(X_test)
    # Calculate the absolute errors
    errors = abs(pred - y_test)
    # Calculate mean absolute percentage error
    mape = 100 * (errors / y_test)
    accuracy = 100 - np.mean(mape)
    return round(accuracy, 2)

In [29]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=110, multi_class='ovr', n_jobs=1,
          penalty='l1', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

logreg.fit(X_train, y_train)
print(f'Accuracy of Logistic regression classifier on training set: {round(logreg.score(X_train, y_train)*100,2)}%.')

Accuracy of Logistic regression classifier on training set: 55.56%.

In [30]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(algorithm='auto', leaf_size=15, metric='minkowski',
 metric_params=None, n_jobs=1, n_neighbors=3, p=2,
 weights='uniform')

knn.fit(X_train, y_train)
print(f'Accuracy of K-NN classifier on training set: {round(knn.score(X_train, y_train)*100,2)}%.')

Accuracy of K-NN classifier on training set: 44.44%.

In [31]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier()

dt.fit(X_train, y_train)
print(f'Accuracy of Decision Tree classifier on training set: {round(dt.score(X_train, y_train)*100,2)}%.')

Accuracy of Decision Tree classifier on training set: 100.0%.

In [32]:
from sklearn.svm import SVC

svm = SVC(kernel='linear')

svm.fit(X_train, y_train)
print(f'Accuracy of SVM classifier on training set: {round(svm.score(X_train, y_train)*100,2)}%.')

Accuracy of SVM classifier on training set: 91.67%.