# Business Understanding
### The purpose of this notebook is predict the interset rate for the credit card dataset

## Import necessary Libraries

In [1]:

import pandas as pd
import numpy as np

import warnings # ignore warnings
warnings.simplefilter("ignore")      #Assign predictors & target
from sklearn import preprocessing     

from sklearn.model_selection import train_test_split # Split data

#Models
from sklearn import model_selection
from sklearn.metrics import accuracy_score


from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler   # Feature Scaling for RF

from sklearn.preprocessing import MinMaxScaler


from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

from sklearn.model_selection import train_test_split

import sklearn 
from sklearn.metrics import classification_report, confusion_matrix

from sklearn.model_selection import cross_val_score

# Preproccessing

In [2]:
car = pd.read_csv('datasets/car.csv')
car.head(n=10)

,Column,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,purpose,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,15,15000,15000,7.56,467.01,7,1.0,115000.0,Fully Paid,car,NJ,15016.54,28186.0,4
1,20,20000,20000,15.57,698.91,5,NaN,46620.0,Fully Paid,car,VT,20045.85,9549.0,0
2,33,1200,1200,15.57,41.94,5,5.0,60000.0,Fully Paid,car,CA,1224.71,4314.0,4
3,133,5000,5000,17.19,178.74,5,1.0,56000.0,Fully Paid,car,CA,5017.95,687.0,7
4,216,14400,14400,22.50,401.82,4,3.0,91920.0,Fully Paid,car,IN,14456.70,4272.0,5
5,271,3500,3500,12.40,116.92,6,1.0,30000.0,Charged Off,car,WI,116.92,8032.0,3
6,309,14400,14400,20.00,535.16,4,1.0,60000.0,Charged Off,car,NC,0.00,4164.0,6
7,322,16000,16000,13.08,364.71,6,5.0,140000.0,Fully Paid,car,NJ,16208.87,2357.0,3
8,371,8000,8000,17.97,289.10,4,10.0,185000.0,Fully Paid,car,AZ,8013.18,35803.0,7
9,399,12000,12000,13.90,278.60,5,10.0,186500.0,Fully Paid,car,CA,12134.37,36238.0,6

In [3]:
car.shape

(71, 14)

# Since it has the same columns as Credit_card dataset, we will follow the same process

In [4]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 14 columns):
Column             71 non-null int64
loan_amnt          71 non-null int64
funded_amnt        71 non-null int64
int_rate           71 non-null float64
installment        71 non-null float64
grade              71 non-null int64
emp_length         65 non-null float64
annual_inc         71 non-null float64
loan_status        71 non-null object
purpose            71 non-null object
addr_state         71 non-null object
last_pymnt_amnt    71 non-null float64
avg_cur_bal        71 non-null float64
num_actv_rev_tl    71 non-null int64
dtypes: float64(6), int64(5), object(3)
memory usage: 7.8+ KB

In [5]:
car.dropna(inplace = True)

In [6]:
car['int_rate'] = car.int_rate.astype(int)
car['installment'] = car.int_rate.astype(int)
car['emp_length'] = car.int_rate.astype(int)
car['annual_inc'] = car.int_rate.astype(int)
car['int_rate'] = car.int_rate.astype(int)
car['int_rate'] = car.int_rate.astype(int)

In [7]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65 entries, 0 to 69
Data columns (total 14 columns):
Column             65 non-null int64
loan_amnt          65 non-null int64
funded_amnt        65 non-null int64
int_rate           65 non-null int64
installment        65 non-null int64
grade              65 non-null int64
emp_length         65 non-null int64
annual_inc         65 non-null int64
loan_status        65 non-null object
purpose            65 non-null object
addr_state         65 non-null object
last_pymnt_amnt    65 non-null float64
avg_cur_bal        65 non-null float64
num_actv_rev_tl    65 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 7.6+ KB

In [8]:
car.drop('purpose', axis=1, inplace=True)

In [9]:
car.head()

,Column,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,15,15000,15000,7,7,7,7,7,Fully Paid,NJ,15016.54,28186.0,4
2,33,1200,1200,15,15,5,15,15,Fully Paid,CA,1224.71,4314.0,4
3,133,5000,5000,17,17,5,17,17,Fully Paid,CA,5017.95,687.0,7
4,216,14400,14400,22,22,4,22,22,Fully Paid,IN,14456.70,4272.0,5
5,271,3500,3500,12,12,6,12,12,Charged Off,WI,116.92,8032.0,3

In [10]:
car.drop('Column', axis=1, inplace=True)

In [11]:
car.head()

,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,15000,15000,7,7,7,7,7,Fully Paid,NJ,15016.54,28186.0,4
2,1200,1200,15,15,5,15,15,Fully Paid,CA,1224.71,4314.0,4
3,5000,5000,17,17,5,17,17,Fully Paid,CA,5017.95,687.0,7
4,14400,14400,22,22,4,22,22,Fully Paid,IN,14456.70,4272.0,5
5,3500,3500,12,12,6,12,12,Charged Off,WI,116.92,8032.0,3

In [12]:
labels_loanStatus = car['loan_status'].astype('category').cat.categories.tolist()
replace_map_loan_status = {'loan_status' : {k: v for k,v in zip(labels_loanStatus,list(range(1,len(labels_loanStatus)+1)))}}
print(replace_map_loan_status)

{'loan_status': {'Charged Off': 1, 'Fully Paid': 2}}

In [13]:
car.replace(replace_map_loan_status, inplace=True)

In [14]:
labels_addr_state = car['addr_state'].astype('category').cat.categories.tolist()
replace_map_comp_addr_state = {'addr_state' : {k: v for k,v in zip(labels_addr_state,list(range(1,len(labels_addr_state)+1)))}}
print(replace_map_comp_addr_state)

{'addr_state': {'AL': 1, 'AZ': 2, 'CA': 3, 'CO': 4, 'CT': 5, 'FL': 6, 'GA': 7, 'IL': 8, 'IN': 9, 'KS': 10, 'KY': 11, 'MD': 12, 'ME': 13, 'MI': 14, 'MN': 15, 'MO': 16, 'MT': 17, 'NC': 18, 'NJ': 19, 'NV': 20, 'NY': 21, 'OH': 22, 'OR': 23, 'PA': 24, 'RI': 25, 'SC': 26, 'TN': 27, 'TX': 28, 'VA': 29, 'WA': 30, 'WI': 31}}

In [15]:
car.replace(replace_map_comp_addr_state, inplace = True)

In [16]:
car.head()

,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,15000,15000,7,7,7,7,7,2,19,15016.54,28186.0,4
2,1200,1200,15,15,5,15,15,2,3,1224.71,4314.0,4
3,5000,5000,17,17,5,17,17,2,3,5017.95,687.0,7
4,14400,14400,22,22,4,22,22,2,9,14456.70,4272.0,5
5,3500,3500,12,12,6,12,12,1,31,116.92,8032.0,3

In [17]:

y=car['int_rate']
X = car.drop('int_rate', axis=1)

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25,random_state=0)

In [19]:
X_train.shape

(48, 11)

In [20]:
X_test.head()

,loan_amnt,funded_amnt,installment,grade,emp_length,annual_inc,loan_status,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
47,12000,12000,10,6,10,10,2,28,11857.45,2815.0,2
30,25000,25000,19,4,19,19,2,3,765.36,2796.0,4
45,4900,4900,10,6,10,10,2,2,4737.09,46495.0,3
67,5000,5000,16,5,16,16,2,28,67.25,21824.0,1
36,7000,7000,13,5,13,13,2,12,7036.91,10489.0,4

In [21]:
y_train.head()

37     7
54     8
48    23
31    11
8     17
Name: int_rate, dtype: int64

In [22]:
y_test.shape

(17,)

In [23]:
clf = RandomForestClassifier(n_jobs=2, random_state=0)

clf.fit(X_train, y_train)
RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=2, oob_score=False, random_state=0,
            verbose=0, warm_start=False)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=1e-07,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
                       oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [24]:
preds = clf.predict(X_test)

In [25]:
pd.crosstab(y_test, preds, rownames=['Actual Result'], colnames=['Predicted Result'])

Predicted Result  7   10  11  13  14  16  17  18
Actual Result
7                  3   0   0   0   0   0   0   0
10                 0   3   0   0   0   0   0   0
11                 0   0   2   0   0   0   0   0
12                 0   0   3   0   1   0   0   0
13                 0   0   0   1   0   0   0   0
16                 0   0   0   0   0   1   0   0
17                 0   0   0   0   0   0   2   0
19                 0   0   0   0   0   0   0   1

In [26]:
#2 

# Feature Scaling (Normalize x)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#RF
clf=RandomForestClassifier(n_estimators=300)

clf.fit(X_train,y_train)

# Make predictions on test data
y_pred=clf.predict(X_test)

from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7058823529411765

In [27]:
model2 = RandomForestClassifier(n_estimators=300,max_depth=800)
model2.fit(X_train,y_train)
predictions2 = model2.predict(X_test)

print(('Testing Accuracy: %.5f') % (accuracy_score(y_test, predictions2)))
print(('Training Accuracy: %.5f') % (accuracy_score(y_train, model2.predict(X_train))))
print()

Testing Accuracy: 0.64706
Training Accuracy: 1.00000

In [28]:
# reference: https://towardsdatascience.com/random-forest-in-python-24d0893d51c0
def pred_score(model):
    pred = model.predict(X_test)
    # Calculate the absolute errors
    errors = abs(pred - y_test)
    # Calculate mean absolute percentage error
    mape = 100 * (errors / y_test)
    accuracy = 100 - np.mean(mape)
    return round(accuracy, 2)

In [29]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=110, multi_class='ovr', n_jobs=1,
          penalty='l1', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

logreg.fit(X_train, y_train)
print(f'Accuracy of Logistic regression classifier on training set: {round(logreg.score(X_train, y_train)*100,2)}%.')

Accuracy of Logistic regression classifier on training set: 45.83%.

In [30]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(algorithm='auto', leaf_size=15, metric='minkowski',
 metric_params=None, n_jobs=1, n_neighbors=3, p=2,
 weights='uniform')

knn.fit(X_train, y_train)
print(f'Accuracy of K-NN classifier on training set: {round(knn.score(X_train, y_train)*100,2)}%.')

Accuracy of K-NN classifier on training set: 50.0%.

In [31]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier()

dt.fit(X_train, y_train)
print(f'Accuracy of Decision Tree classifier on training set: {round(dt.score(X_train, y_train)*100,2)}%.')

Accuracy of Decision Tree classifier on training set: 100.0%.

In [32]:
from sklearn.svm import SVC

svm = SVC(kernel='linear')

svm.fit(X_train, y_train)
print(f'Accuracy of SVM classifier on training set: {round(svm.score(X_train, y_train)*100,2)}%.')

Accuracy of SVM classifier on training set: 89.58%.