# Business Understanding
### The purpose of this notebook is predict the interset rate for the credit card dataset

## Import necessary Libraries

In [1]:

import pandas as pd
import numpy as np

import warnings # ignore warnings
warnings.simplefilter("ignore")      #Assign predictors & target
from sklearn import preprocessing     

from sklearn.model_selection import train_test_split # Split data

#Models
from sklearn import model_selection
from sklearn.metrics import accuracy_score


from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler   # Feature Scaling for RF

from sklearn.preprocessing import MinMaxScaler


from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

from sklearn.model_selection import train_test_split

import sklearn 
from sklearn.metrics import classification_report, confusion_matrix

from sklearn.model_selection import cross_val_score

# Preproccessing

In [2]:
renewable_energy = pd.read_csv('datasets/renewable_energy.csv')
renewable_energy.head(n=10)

,Column,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,purpose,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,454,1500,1500,16.40,53.04,5,1.0,135000.0,Fully Paid,renewable_energy,MI,1520.50,14766.0,4
1,562,1000,1000,22.50,38.45,4,3.0,40000.0,Fully Paid,renewable_energy,NY,858.76,3744.0,2
2,978,4275,4275,11.02,140.00,6,5.0,116129.0,Fully Paid,renewable_energy,FL,27.05,19748.0,9
3,1126,10000,10000,12.40,334.06,6,2.0,48000.0,Fully Paid,renewable_energy,CA,9886.65,1029.0,2
4,3312,1200,1200,27.27,49.17,3,10.0,68000.0,Fully Paid,renewable_energy,CT,1161.06,4434.0,8
5,4175,1000,1000,7.56,31.14,7,10.0,65000.0,Fully Paid,renewable_energy,NJ,986.69,16537.0,7
6,4184,10000,10000,16.91,356.08,5,6.0,65000.0,Fully Paid,renewable_energy,CA,10015.78,1755.0,9

In [3]:
renewable_energy.shape

(7, 14)

# Since it has the same columns as Credit_card dataset, we will follow the same process

In [4]:
renewable_energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 14 columns):
Column             7 non-null int64
loan_amnt          7 non-null int64
funded_amnt        7 non-null int64
int_rate           7 non-null float64
installment        7 non-null float64
grade              7 non-null int64
emp_length         7 non-null float64
annual_inc         7 non-null float64
loan_status        7 non-null object
purpose            7 non-null object
addr_state         7 non-null object
last_pymnt_amnt    7 non-null float64
avg_cur_bal        7 non-null float64
num_actv_rev_tl    7 non-null int64
dtypes: float64(6), int64(5), object(3)
memory usage: 864.0+ bytes

In [5]:
renewable_energy.dropna(inplace = True)

In [6]:
renewable_energy['int_rate'] = renewable_energy.int_rate.astype(int)
renewable_energy['installment'] = renewable_energy.int_rate.astype(int)
renewable_energy['emp_length'] = renewable_energy.int_rate.astype(int)
renewable_energy['annual_inc'] = renewable_energy.int_rate.astype(int)
renewable_energy['int_rate'] = renewable_energy.int_rate.astype(int)
renewable_energy['int_rate'] = renewable_energy.int_rate.astype(int)

In [7]:
renewable_energy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 0 to 6
Data columns (total 14 columns):
Column             7 non-null int64
loan_amnt          7 non-null int64
funded_amnt        7 non-null int64
int_rate           7 non-null int64
installment        7 non-null int64
grade              7 non-null int64
emp_length         7 non-null int64
annual_inc         7 non-null int64
loan_status        7 non-null object
purpose            7 non-null object
addr_state         7 non-null object
last_pymnt_amnt    7 non-null float64
avg_cur_bal        7 non-null float64
num_actv_rev_tl    7 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 840.0+ bytes

In [8]:
renewable_energy.drop('purpose', axis=1, inplace=True)

In [9]:
renewable_energy.head()

,Column,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,454,1500,1500,16,16,5,16,16,Fully Paid,MI,1520.50,14766.0,4
1,562,1000,1000,22,22,4,22,22,Fully Paid,NY,858.76,3744.0,2
2,978,4275,4275,11,11,6,11,11,Fully Paid,FL,27.05,19748.0,9
3,1126,10000,10000,12,12,6,12,12,Fully Paid,CA,9886.65,1029.0,2
4,3312,1200,1200,27,27,3,27,27,Fully Paid,CT,1161.06,4434.0,8

In [10]:
renewable_energy.drop('Column', axis=1, inplace=True)

In [11]:
renewable_energy.head()

,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,1500,1500,16,16,5,16,16,Fully Paid,MI,1520.50,14766.0,4
1,1000,1000,22,22,4,22,22,Fully Paid,NY,858.76,3744.0,2
2,4275,4275,11,11,6,11,11,Fully Paid,FL,27.05,19748.0,9
3,10000,10000,12,12,6,12,12,Fully Paid,CA,9886.65,1029.0,2
4,1200,1200,27,27,3,27,27,Fully Paid,CT,1161.06,4434.0,8

In [12]:
labels_loanStatus = renewable_energy['loan_status'].astype('category').cat.categories.tolist()
replace_map_loan_status = {'loan_status' : {k: v for k,v in zip(labels_loanStatus,list(range(1,len(labels_loanStatus)+1)))}}
print(replace_map_loan_status)

{'loan_status': {'Fully Paid': 1}}

In [13]:
renewable_energy.replace(replace_map_loan_status, inplace=True)

In [14]:
labels_addr_state = renewable_energy['addr_state'].astype('category').cat.categories.tolist()
replace_map_comp_addr_state = {'addr_state' : {k: v for k,v in zip(labels_addr_state,list(range(1,len(labels_addr_state)+1)))}}
print(replace_map_comp_addr_state)

{'addr_state': {'CA': 1, 'CT': 2, 'FL': 3, 'MI': 4, 'NJ': 5, 'NY': 6}}

In [15]:
renewable_energy.replace(replace_map_comp_addr_state, inplace = True)

In [16]:
renewable_energy.head()

,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,1500,1500,16,16,5,16,16,1,4,1520.50,14766.0,4
1,1000,1000,22,22,4,22,22,1,6,858.76,3744.0,2
2,4275,4275,11,11,6,11,11,1,3,27.05,19748.0,9
3,10000,10000,12,12,6,12,12,1,1,9886.65,1029.0,2
4,1200,1200,27,27,3,27,27,1,2,1161.06,4434.0,8

In [17]:

y=renewable_energy['int_rate']
X = renewable_energy.drop('int_rate', axis=1)

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25,random_state=0)

In [19]:
X_train.shape

(5, 11)

In [20]:
X_test.head()

,loan_amnt,funded_amnt,installment,grade,emp_length,annual_inc,loan_status,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
6,10000,10000,16,5,16,16,1,1,10015.78,1755.0,9
2,4275,4275,11,6,11,11,1,3,27.05,19748.0,9

In [21]:
y_train.head()

1    22
3    12
0    16
5     7
4    27
Name: int_rate, dtype: int64

In [22]:
y_test.shape

(2,)

In [23]:
clf = RandomForestClassifier(n_jobs=2, random_state=0)

clf.fit(X_train, y_train)
RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=2, oob_score=False, random_state=0,
            verbose=0, warm_start=False)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=1e-07,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
                       oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [24]:
preds = clf.predict(X_test)

In [25]:
pd.crosstab(y_test, preds, rownames=['Actual Result'], colnames=['Predicted Result'])

Predicted Result  12
Actual Result
11                 1
16                 1

In [26]:
#2 

# Feature Scaling (Normalize x)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#RF
clf=RandomForestClassifier(n_estimators=300)

clf.fit(X_train,y_train)

# Make predictions on test data
y_pred=clf.predict(X_test)

from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.0

In [27]:
model2 = RandomForestClassifier(n_estimators=300,max_depth=800)
model2.fit(X_train,y_train)
predictions2 = model2.predict(X_test)

print(('Testing Accuracy: %.5f') % (accuracy_score(y_test, predictions2)))
print(('Training Accuracy: %.5f') % (accuracy_score(y_train, model2.predict(X_train))))
print()

Testing Accuracy: 0.00000
Training Accuracy: 1.00000

In [28]:
# reference: https://towardsdatascience.com/random-forest-in-python-24d0893d51c0
def pred_score(model):
    pred = model.predict(X_test)
    # Calculate the absolute errors
    errors = abs(pred - y_test)
    # Calculate mean absolute percentage error
    mape = 100 * (errors / y_test)
    accuracy = 100 - np.mean(mape)
    return round(accuracy, 2)

In [29]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=110, multi_class='ovr', n_jobs=1,
          penalty='l1', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

logreg.fit(X_train, y_train)
print(f'Accuracy of Logistic regression classifier on training set: {round(logreg.score(X_train, y_train)*100,2)}%.')

Accuracy of Logistic regression classifier on training set: 80.0%.

In [30]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(algorithm='auto', leaf_size=15, metric='minkowski',
 metric_params=None, n_jobs=1, n_neighbors=3, p=2,
 weights='uniform')

knn.fit(X_train, y_train)
print(f'Accuracy of K-NN classifier on training set: {round(knn.score(X_train, y_train)*100,2)}%.')

Accuracy of K-NN classifier on training set: 40.0%.

In [31]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier()

dt.fit(X_train, y_train)
print(f'Accuracy of Decision Tree classifier on training set: {round(dt.score(X_train, y_train)*100,2)}%.')

Accuracy of Decision Tree classifier on training set: 100.0%.

In [32]:
from sklearn.svm import SVC

svm = SVC(kernel='linear')

svm.fit(X_train, y_train)
print(f'Accuracy of SVM classifier on training set: {round(svm.score(X_train, y_train)*100,2)}%.')

Accuracy of SVM classifier on training set: 100.0%.