# Business Understanding
### The purpose of this notebook is predict the interset rate for the credit card dataset

## Import necessary Libraries

In [1]:

import pandas as pd
import numpy as np

import warnings # ignore warnings
warnings.simplefilter("ignore")      #Assign predictors & target
from sklearn import preprocessing     

from sklearn.model_selection import train_test_split # Split data

#Models
from sklearn import model_selection
from sklearn.metrics import accuracy_score


from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler   # Feature Scaling for RF

from sklearn.preprocessing import MinMaxScaler


from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

from sklearn.model_selection import train_test_split

import sklearn 
from sklearn.metrics import classification_report, confusion_matrix

from sklearn.model_selection import cross_val_score

# Preproccessing

In [3]:
moving = pd.read_csv('datasets/moving.csv')
moving.head(n=10)

,Column,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,purpose,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,53,6000,6000,13.08,202.40,6,NaN,35707.0,Fully Paid,moving,NY,6114.40,1119.0,5
1,299,3000,3000,12.40,100.22,6,6.0,90000.0,Fully Paid,moving,OK,3062.63,17477.0,5
2,480,3000,3000,7.56,93.41,7,2.0,90000.0,Fully Paid,moving,FL,2018.90,7358.0,3
3,616,8000,8000,14.74,276.31,5,1.0,64000.0,Fully Paid,moving,GA,8010.81,143.0,1
4,701,20000,20000,28.90,633.63,3,1.0,45000.0,Fully Paid,moving,GA,20052.98,3342.0,2
5,927,3600,3600,20.00,133.79,4,2.0,100000.0,Fully Paid,moving,NC,3673.71,14467.0,1
6,1047,5000,5000,8.19,157.13,7,10.0,96595.0,Fully Paid,moving,CA,5005.89,796.0,5
7,1052,5500,5500,11.71,181.92,6,8.0,110200.0,Fully Paid,moving,NY,5528.62,38807.0,4
8,1069,8000,8000,17.97,289.10,4,NaN,62000.0,Fully Paid,moving,CA,8071.88,8134.0,15
9,1115,28000,28000,8.81,887.92,7,10.0,194000.0,Fully Paid,moving,VA,27642.03,69171.0,4

In [4]:
moving.shape

(48, 14)

# Since it has the same columns as Credit_card dataset, we will follow the same process

In [5]:
moving.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 14 columns):
Column             48 non-null int64
loan_amnt          48 non-null int64
funded_amnt        48 non-null int64
int_rate           48 non-null float64
installment        48 non-null float64
grade              48 non-null int64
emp_length         41 non-null float64
annual_inc         48 non-null float64
loan_status        48 non-null object
purpose            48 non-null object
addr_state         48 non-null object
last_pymnt_amnt    48 non-null float64
avg_cur_bal        47 non-null float64
num_actv_rev_tl    48 non-null int64
dtypes: float64(6), int64(5), object(3)
memory usage: 5.3+ KB

In [6]:
moving.dropna(inplace = True)

In [7]:
moving['int_rate'] = moving.int_rate.astype(int)
moving['installment'] = moving.int_rate.astype(int)
moving['emp_length'] = moving.int_rate.astype(int)
moving['annual_inc'] = moving.int_rate.astype(int)
moving['int_rate'] = moving.int_rate.astype(int)
moving['int_rate'] = moving.int_rate.astype(int)

In [10]:
moving.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41 entries, 1 to 47
Data columns (total 14 columns):
Column             41 non-null int64
loan_amnt          41 non-null int64
funded_amnt        41 non-null int64
int_rate           41 non-null int64
installment        41 non-null int64
grade              41 non-null int64
emp_length         41 non-null int64
annual_inc         41 non-null int64
loan_status        41 non-null object
purpose            41 non-null object
addr_state         41 non-null object
last_pymnt_amnt    41 non-null float64
avg_cur_bal        41 non-null float64
num_actv_rev_tl    41 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 4.8+ KB

In [11]:
moving.drop('purpose', axis=1, inplace=True)

In [12]:
moving.head()

,Column,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
1,299,3000,3000,12,12,6,12,12,Fully Paid,OK,3062.63,17477.0,5
2,480,3000,3000,7,7,7,7,7,Fully Paid,FL,2018.90,7358.0,3
3,616,8000,8000,14,14,5,14,14,Fully Paid,GA,8010.81,143.0,1
4,701,20000,20000,28,28,3,28,28,Fully Paid,GA,20052.98,3342.0,2
5,927,3600,3600,20,20,4,20,20,Fully Paid,NC,3673.71,14467.0,1

In [13]:
moving.drop('Column', axis=1, inplace=True)

In [14]:
moving.head()

,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
1,3000,3000,12,12,6,12,12,Fully Paid,OK,3062.63,17477.0,5
2,3000,3000,7,7,7,7,7,Fully Paid,FL,2018.90,7358.0,3
3,8000,8000,14,14,5,14,14,Fully Paid,GA,8010.81,143.0,1
4,20000,20000,28,28,3,28,28,Fully Paid,GA,20052.98,3342.0,2
5,3600,3600,20,20,4,20,20,Fully Paid,NC,3673.71,14467.0,1

In [15]:
labels_loanStatus = moving['loan_status'].astype('category').cat.categories.tolist()
replace_map_loan_status = {'loan_status' : {k: v for k,v in zip(labels_loanStatus,list(range(1,len(labels_loanStatus)+1)))}}
print(replace_map_loan_status)

{'loan_status': {'Charged Off': 1, 'Fully Paid': 2}}

In [16]:
moving.replace(replace_map_loan_status, inplace=True)

In [17]:
labels_addr_state = moving['addr_state'].astype('category').cat.categories.tolist()
replace_map_comp_addr_state = {'addr_state' : {k: v for k,v in zip(labels_addr_state,list(range(1,len(labels_addr_state)+1)))}}
print(replace_map_comp_addr_state)

{'addr_state': {'AK': 1, 'CA': 2, 'CT': 3, 'FL': 4, 'GA': 5, 'IL': 6, 'MI': 7, 'NC': 8, 'NJ': 9, 'NV': 10, 'NY': 11, 'OH': 12, 'OK': 13, 'PA': 14, 'TN': 15, 'TX': 16, 'VA': 17, 'WA': 18}}

In [18]:
moving.replace(replace_map_comp_addr_state, inplace = True)

In [19]:
moving.head()

,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
1,3000,3000,12,12,6,12,12,2,13,3062.63,17477.0,5
2,3000,3000,7,7,7,7,7,2,4,2018.90,7358.0,3
3,8000,8000,14,14,5,14,14,2,5,8010.81,143.0,1
4,20000,20000,28,28,3,28,28,2,5,20052.98,3342.0,2
5,3600,3600,20,20,4,20,20,2,8,3673.71,14467.0,1

In [20]:

y=moving['int_rate']
X = moving.drop('int_rate', axis=1)

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25,random_state=0)

In [22]:
X_train.shape

(30, 11)

In [23]:
X_test.head()

,loan_amnt,funded_amnt,installment,grade,emp_length,annual_inc,loan_status,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
31,25600,25600,15,5,15,15,1,11,887.69,342.0,6
41,4200,4200,11,6,11,11,1,12,139.10,15312.0,11
35,4000,4000,12,6,12,12,2,2,4009.01,4969.0,1
5,3600,3600,20,4,20,20,2,8,3673.71,14467.0,1
13,20000,20000,8,7,8,8,1,15,19181.35,7077.0,1

In [24]:
y_train.head()

25    18
45     8
3     14
47    23
23     8
Name: int_rate, dtype: int64

In [25]:
y_test.shape

(11,)

In [26]:
clf = RandomForestClassifier(n_jobs=2, random_state=0)

clf.fit(X_train, y_train)
RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=2, oob_score=False, random_state=0,
            verbose=0, warm_start=False)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=1e-07,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
                       oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [27]:
preds = clf.predict(X_test)

In [28]:
pd.crosstab(y_test, preds, rownames=['Actual Result'], colnames=['Predicted Result'])

Predicted Result  8   12  16  17  18  23  26
Actual Result
8                  2   0   0   0   0   0   0
11                 0   2   0   0   0   0   0
12                 0   1   0   0   0   0   0
14                 0   0   0   1   0   0   0
15                 0   0   1   0   0   0   0
20                 0   0   0   0   2   0   0
23                 0   0   0   0   0   1   0
27                 0   0   0   0   0   0   1

In [29]:
#2 

# Feature Scaling (Normalize x)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#RF
clf=RandomForestClassifier(n_estimators=300)

clf.fit(X_train,y_train)

# Make predictions on test data
y_pred=clf.predict(X_test)

from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.5454545454545454

In [30]:
model2 = RandomForestClassifier(n_estimators=300,max_depth=800)
model2.fit(X_train,y_train)
predictions2 = model2.predict(X_test)

print(('Testing Accuracy: %.5f') % (accuracy_score(y_test, predictions2)))
print(('Training Accuracy: %.5f') % (accuracy_score(y_train, model2.predict(X_train))))
print()

Testing Accuracy: 0.54545
Training Accuracy: 1.00000

In [31]:
# reference: https://towardsdatascience.com/random-forest-in-python-24d0893d51c0
def pred_score(model):
    pred = model.predict(X_test)
    # Calculate the absolute errors
    errors = abs(pred - y_test)
    # Calculate mean absolute percentage error
    mape = 100 * (errors / y_test)
    accuracy = 100 - np.mean(mape)
    return round(accuracy, 2)

In [32]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=110, multi_class='ovr', n_jobs=1,
          penalty='l1', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

logreg.fit(X_train, y_train)
print(f'Accuracy of Logistic regression classifier on training set: {round(logreg.score(X_train, y_train)*100,2)}%.')

Accuracy of Logistic regression classifier on training set: 63.33%.

In [33]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(algorithm='auto', leaf_size=15, metric='minkowski',
 metric_params=None, n_jobs=1, n_neighbors=3, p=2,
 weights='uniform')

knn.fit(X_train, y_train)
print(f'Accuracy of K-NN classifier on training set: {round(knn.score(X_train, y_train)*100,2)}%.')

Accuracy of K-NN classifier on training set: 43.33%.

In [34]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier()

dt.fit(X_train, y_train)
print(f'Accuracy of Decision Tree classifier on training set: {round(dt.score(X_train, y_train)*100,2)}%.')

Accuracy of Decision Tree classifier on training set: 100.0%.

In [35]:
from sklearn.svm import SVC

svm = SVC(kernel='linear')

svm.fit(X_train, y_train)
print(f'Accuracy of SVM classifier on training set: {round(svm.score(X_train, y_train)*100,2)}%.')

Accuracy of SVM classifier on training set: 90.0%.